* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: monospace;
}

button {
  padding: 2em;
  height: 6em;
  aspect-ratio: 1.5;
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.25em;
  font-family: monospace;
  font-weight: bold;
}

#display {
  /* height: 1em; */
  padding: 0.5em;
  background: #eee;
  text-align: right;
  font-size: 5em;
  margin-bottom: 0.5em;
  border-radius: 0.1em;
  max-width: 8em;
  overflow: hidden;
  
}

#container {
  display: flex;
  justify-content: center;
  background: #a6b8c2;
  padding: 2em;
  width: 50em;
  margin: 10em auto;
  border-radius: 1em;
  border: 3px solid black;
}

sup {
  line-height: 0;
}

.operator {
  background: #c1c1c1;
}

#del {
  background: rgb(224, 197, 197);
}

#ac{
  background: rgb(226, 180, 180);
}